/*:root
{
--spacing-xl:150px;
--spacing-lg:100px;
--spacing-md:50px;
--spacing-s:25px;
--spacing-xs:15px;
--spacing-xxs:5px;

--font-size-sm:15px;
--font-size-md:30px;
--font-size-lg:45px;
}
*/
.main-header
{
    display: flex;
    flex-direction: column;
    background-image: url(images/headphones_hero_1.jpg);
    background-size: 100%;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid black;
    height:50vh;
    

}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    text-decoration: none;
}
.links ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:60vh;
    list-style: none;
    text-decoration: none;
}
.links ul :hover{
    color:aquamarine;
}
.header-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: red;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px 25px;
    border: 1px solid white;
    color: white;
    
}
button:hover
{
    opacity: 0.9;
    color:#FF6565;
}

.what-we-do
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
}
.what-we-do>p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px;
}

.item img {
    width: 200px; 
    height: auto;
}

.item .content {
    margin-top: 10px; 
    text-align: center; 
}

.item h4,
.item p {
    margin: 0; 
}

.our-results {
    background-image: url('/images/headphones_hero_2.jpg');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  
  .our-results h1 {
    padding-top: 220px;
    margin-bottom: 60px;
  }
  
  .our-results p {
    margin-top: 60px;
    margin-bottom: 60px;
  }

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pentagone {
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
  }
  
  .container0 {
    text-align: center;
    position: relative;
  }
  
  .text0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container1 {
    text-align: center;
    position: relative;
  }
  
  .text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container2 {
    text-align: center;
    position: relative;
  
  }
  
  .text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container3 {
    text-align: center;
    position: relative;
  }
  
  .text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
  }
  
  .twopercent {
    font-weight: bold;
    font-size: 48px;
  }
  form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
  }
  
  .formsection {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .textbox {
    width: 30%;
    margin: 0 auto; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #name::placeholder{
    color: black;
    font-weight: bold;
  }
  #email::placeholder{
    color: black;
    font-weight: bold;
  }
  #message::placeholder{
    color: black;
    font-weight: bold;
  }
  
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: blue;
}
footer img {
    margin-right: 10px;
    width: 30px; 
    height: auto;
}