body main{
    display: flex;
    height:auto;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    background-image: url(images/headphones_hero_1.jpg);

}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:4px;
    
}
.logo{
    margin:0;

}
.links{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:fit-content
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vh;
    list-style: none;
    text-decoration: none;
}

ul a{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}
ul a:hover{
    color:#FF6565;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: red;
    border-radius: 40px;
    box-sizing: border-box;
    color: whitesmoke;
    border-color: none;
    padding: 10px 35px;
    border:none;
}
button:hover{
    color:black;
    opacity: 0.9;
}
.align{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family:url(SourceSansPro-Regular.otf);
    font-size: large;
}


header{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background-color: grey;
    position:absolute;
    padding: 15px;
}
