.header{
    background-image: url(images/Object.png);
    padding: 20px;
    background-color: brown;
}

.header-container{
    display:flex;
    justify-content: flex-end;
    align-items: end;
    padding:0 20px;
}
.logo {
    url(images/logo.png);

}
.nav-link{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}