body {display:fle;
flex-direction:column
}
main{display:flex;
flex direction:row;
flex:auto}

article{flex:2;
    overflow-y: auto;
}
aside{flex:1
overflow-y:auto;
}
header{background-color: blueviolet;}
footer{background-color: blueviolet;}
table, th,td{
    border:2px solid
    width: 700px;
}
h1{color: darkblue;
font-style :italic
}
h2{color:darkblue;
font-style:italic}
h4{color:darkblue;
font-style:italic;
}







